.NavIcon-Container {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 32px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.NavIcon-Container-focused {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    color: #ff5f00;
}