.EventOverview-Container {
    display: flex;
    min-width: 100%;
    flex: 1;
    flex-direction: column;
    border-top: 1px solid #7b7b7b;
}

.EventOverview-Row {
    flex: 1;
    display: flex;
    
    flex-direction: row;
    padding-left: 12px;
    padding-right:12px;
}

.EventOverview-RowSummary {
    justify-content: space-between;
}

.EventOverview-LocationContainer {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
    font-size: 14px;
}

.EventOverview-Separator {
    padding-top: 22px;
}

.EventOverview-LocationContainerInner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.EventOverview-Duration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.EventOverview-SmallDescription {
    display: flex;
    flex-direction: column;
}

.EventOverview-SmallDescriptionTitle {
    color: #ff5f00;
    font-size: 12px;
}

.EventOverview-SmallDescriptionValue {
    color: white;
    font-size: 16px;
}


.EventOverview-DetailsWithIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
}

.EventOverview-Checkbox {
    border: 2px solid white;
    height: 24px;
    width: 24px;
    margin: 12px;
    color: #ff5f00;
}

.EventOverview-SixtMixedRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}