.Button {
    display: flex;
    flex: 1;
    margin: 12px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color: #ff5f00;
    font-weight: bold;
    font-size: 18px;
}