.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  
}

.App-MainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #191919;
}

.App-NavBar {
  height: 72px;
  background-color: #7b7b7b;
  display: flex;
  flex-direction: row;
}

.calendar {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}

#time {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#event {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.eventSlot {
  background-color: #ff5f00;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.eventSlot p {
  margin: 2px;
}

.top-border {
  border-top-style: solid;
  border-width: 1px;
}

.location {
  font-size: 12px;
}
