.OfferList {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.OfferList-AvailableText {
    padding-left: 12px;
    padding-right:12px;
    padding-bottom: 8px;
}

.OfferList-SwipeViews {
    flex: 1;
    display: flex;
    flex-direction: column;
}
